body {
  font-family: "Open Sans Condensed", sans-serif;
  background-image: url(/images/main_cake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAV HAMBURGER */

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  margin-left: 20vw;
}
.contact {
  margin-left: 20vw;
}
.logo img {
  width: 20vw;
}
.contact img {
  width: 20vw;
}
.burger {
  padding: 2vw;
  margin: 1vw;
  border: solid 4px gray;
  border-radius: 10px;
  background-color: green;
}

/* HEADER */
header {
  width: 100%;
  height: 30vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5vw;
}

/* MAIN */

main {
  padding-top: 2px;
  display: flex;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: -1;
}
.main_image {
  display: flex;
  justify-content: space-between;
}
.main_image img {
  width: 50vw;
  height: auto;
  border-radius: 3px;
}

.main_title {
  font-family: "Lemonada", cursive;
  font-size: calc(50px + 1vw);
  text-align: center;
  color: rgb(117, 0, 0);
  padding: 2vw;
  margin-top: 1vw;
  border-radius: 4px;
}
.main_about {
  max-width: auto;
  margin: 1vw;
  padding: 1vw;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: row;
}
.black_about,
.cakes {
  position: relative;
  z-index: 1;
}
.black_about::before,
.cakes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  background-color: green;
  border-radius: 4px;
}
.cakes::before {
  background-color: green;
}
.main_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main_text .btn {
  background-color: #9eaf3b;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: calc(25px + 0.5vw);
  border-radius: 50px;
}

.main_about h2 {
  font-size: calc(40px + 1vw);
  text-align: center;
  padding: 2vw 0vw 2vw;
}
.main_about p {
  font-size: calc(40px + 0.5vw);
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.cakes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cakes h2 {
  color: ;
  font-weight: 500;
  font-size: calc(40px + 1vw);
  padding: 0px;
  margin-bottom: 20px;
}
.cakes img {
  margin: 3px;
  border-radius: 4px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  background-color: #3a3a3a;
  padding: 10px 0 10px;
}
.footer ul {
  display: flex;
  flex-direction: row;
}

.footer a {
  color: rgb(255, 255, 255);
  margin: 1vw;
}

@media screen and (max-width: 700px) {
  .main_image {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 1095px) {
  .gone {
    display: none;
  }
}
