body {
  font-family: "Open Sans Condensed", sans-serif;
}

/* NAV HAMBURGER */

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo {
  margin-right: 20vw;
}
.contact {
  margin-left: 20vw;
}
.logo img {
  width: 20vw;
}

.contact img {
  width: 20vw;
}
.burger {
  padding: 2vw;
  margin: 1vw;
  border: solid 4px gray;
  border-radius: 10px;
}

/* HEADER */
header {
  width: 100%;
  height: 60vw;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/images/header_cake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5vw;
}

/* MAIN */

main {
  padding-top: 2px;
  display: flex;
  background-color: black;
}
.main {
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vw;
  margin: 0px;
}
.main_image img {
  width: 50vw;
  border-radius: 3px;
}

.main_title {
  font-family: "Lemonada", cursive;
  font-size: 8vw;
  text-align: center;
  background-color: #a75151;
  padding: 2vw;
  margin-bottom: 2vw;
  border-radius: 4px;
}
.main_about {
  max-width: auto;
  margin: 1vw;
  padding: 1vw;
  background-color: black;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: row;
}
.main_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main_text .btn {
  background-color: #535553;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
}

.main_about h2 {
  font-size: 30px;
  text-align: center;
  padding: 2vw 0vw 4vw;
}
.main_about p {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.cakes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cakes img {
  margin: 3px;
  border-radius: 2px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  background-color: #3a3a3a;
  padding: 10px 0 10px;
}
.footer ul {
  display: flex;
  flex-direction: row;
}

.footer a {
  color: rgb(255, 255, 255);
  margin: 1vw;
}

@media screen and (max-width: 700px) {
  .main_image {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .contact {
    display: none;
  }
}
