/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

html,
body {
	font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
}

button {
	font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
}

/*  Navigation */
.navbar-brand > img {
	max-height: 40px;
	width: auto;
}

.navbar-light .navbar-toggler {
	border: 0;
	right:  0;
}

.navbar-light .navbar-nav .nav-link {
	color: #292b2c;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px;
	
}


	/*  Challenge: can you make the navigation links orange on hover? */


/* Buttons */
/* INSERT BUTTON STYLES HERE */

button {
	display:inline-block;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 3px;
	border: none;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #ce5f31;
	height: 40px;
}


.button2 {
	background-color: #E34A29 ;
}
.button3 {
	background-color: #dccdc6;
	color: #000;
}

/* Alert */
.alert {
	position: relative;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid #dccdc6;
	border-radius: 0;
	font-size: 0.85rem;
	line-height: 1.3em;
	background: transparent;
	color: #292b2c;
}

.alert:before {
	content: '';
	position: absolute;
	left: -1px;
	top: 0;
	height: 100%;
	width: 1px;
	background: #ce5f31;
}

/* Jumbotron */
.jumbotron {
	border-radius: 0;
	background-image:     
		linear-gradient(
		rgba(109, 109, 109, 0.45), 
		rgba(90, 90, 90, 0.45)), 
		url("../images/header-bike.jpg");
	color: #fff;


}
.jumbotron h1{
	font-weight: lighter;
	font-size: 12vw;
	color: #EAEAEA;
	
}
.jumbotron p{
	font-weight: lighter;
	font-size: 20px;
}

/* Flex Container */

.flex-container{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 30px;
	
}

.flex-container div{
	border-style: solid;
	width: 150px;
	height: 150px;
	
	background-color: #F1F1F1;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.flex-container div:first-child{
	border-color: indigo;
}
.flex-container div:nth-child(2){
	border-color: hotpink;
}
.flex-container div:last-child{
	border-color: greenyellow;
}



/* Headings */
.heading-underline {
	position: relative;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #dccdc6;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.heading-underline:before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 25%;
	height: 1px;
	max-width: 100px;
	background: #ce5f31;
}


/* Article */

.article2 {
	box-sizing: border-box;
	margin: 30px;
	padding: 20px;
	width: 40%;
	height: 250px;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #D3D3D3;
}
.article2.grey {
	background-color: #D3D3D3;
}

.article {
	margin-bottom: 3em;
}

.article__title {
	margin-bottom: 0.5em;
	font-weight: 700;
}

.article__read-more a {
	font-size: 0.85em;
	font-weight: 700;
	text-decoration: uppercase;
}

.article__read-more a:hover,
.article__read-more a:focus {
	text-decoration: none;
}

.article__read-more .fa {
	margin-right: 0.5em;
	color: #ce5f31;
}

.article__read-more:last-child {
	margin-bottom: 0;
}

.article-upcomming img{
	max-width: 100px;
	height: 80px;
	margin-right: 3px;
}
	

.article-upcomming {
	display: flex;
}


aside p{
	text-align: left;
}

.container {
    width:100%;
    height:auto;
    padding:1%;
}


/* Footer */
.footer {
	margin-top: 4em;
}

.footer p {
	border-top: 1px solid #dccdc6;
	padding-top: 2em;
	padding-bottom: 2em;
}

/* Media queries */

@media screen and (min-width: 992px) {

	.navbar-brand > img {
	   max-height: 80px;
	}
}

@media screen and (max-width: 320px) {

	.jumbotron {
		padding: 10px;
		margin: 5px;
	}


	.article2 {
		width: 90%;
		margin: 5px;
	}
}

@media screen and (max-width: 610px){
	.article2 {
		width: 90%;
		margin: 5px;
	}
}



